/* *** Fonts *** */
@font-face {
	font-family: 'bold';
	src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
	font-family: 'light';
	src: url(../fonts/Poppins-Light.ttf);
}
@font-face {
	font-family: 'medium';
	src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
	font-family: 'regular';
	src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
	font-family: 'semibold';
	src: url(../fonts/Poppins-SemiBold.ttf);
}
@font-face {
	font-family: 'thin';
	src: url(../fonts/Poppins-Thin.ttf);
}
/* End of fonts */

/*  *** CSS *** */
/* Most frequently used in almost all pages */
html {
	scroll-behavior: smooth;
}
* {
	padding: 0;
	margin: 0;
	font-family: "medium";
	font-size: 16px;
}
a {
	text-decoration: none;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
.mini-container {
	max-width: 1000px;
	margin: 0 auto;
}
.flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.flex-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* *** Buttons Styles*** */
.btn {
	padding: 5px 10px;

	font: 14px 'medium';
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 4px;
	border: none;
}
.btn-default {
	background-color: #009688;
	color: #fff;
}
.btn-large {
	padding: 15px 40px;
}

.btn-default:hover {
	background-color: #046e64;
}
/* ***End of Buttons */

/* Navbar */
#header {
	color: black;
	text-align: center;
	font-weight: bold;
	position: fixed;
	top: 0;
	width: 100%;

	z-index: 99;
	padding: 10px 0;
}
Nav img {
	width: 75px;
}
.navbar {
	margin: 10px 0;
	justify-content: flex-end;
}
.nav {
	padding: 0 15px;

	margin: 0 20px;
	/* border-radius: 9%; */
}
.nav a {
	color: #3e3e3e;
	border-radius: 9%;
}
/* Style for when a page is active */
.active {
	color: #fff;
	border: 1px solid #009688;
	background-color: #009688;
	color: #fff;
	padding: 5px 15px;
	border-radius: 5px;
}
/* Hover effect for navigation bar */
.nav a:hover {
	color: #fff;
	border: 1px solid #009688;
	background-color: #009688;
	color: #fff;
	padding: 5px 15px;
}

/**** Banner ****/
.banner-image {
	position: relative;
	top: 60px;
	height: 88vh;
}
.banner-image img {
	max-width: 100%;
	height: 88vh;
}
.banner-content {
	position: absolute;
	right: 100px;
	top: 50%;
	transform: translateY(-50%);
}
.hero-text {
	font-size: 72px;
	font-family: "light";
}
.sub-text h4 {
	font-family: "thin";
	font-size: 25px;
}
/* End of Banner */

/* Footer */
.footer {
	background-color: #333;
}
.row {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 25px;
	text-align: justify;
	padding: 25px;
	margin: 0 20px;
	color: #fff;
}
.lower-footer {
	padding: 10px 0;
	background-color: #222;
	color: #fff;
}
.footer-details {
	justify-content: space-between;
}
.footer-details > div {
	font-size: 14px;
}
.footer-title {
	cursor: pointer;
	font-size: 18px;
	padding: 10px 0;
}
.footer-text {
	cursor: pointer;
	font-size: 15px;
	margin: 3px 0;
}
.footer-item .footer-text a {
	text-decoration: none;
	color: #fff;
}
/* hover effect for elements of footer */
.footer-item .footer-title:hover,
.footer-item .footer-text:hover,
.footer-item a:hover {
	color: #009866;
}
.social a {
	height: 30px;
	width: 30px;
	background: #717171;
	color: #fff;
	border-radius: 100px;
	display: inline-block;
	margin-right: 10px;
	text-align: center;
	line-height: 30px;
}
.social a:hover {
	background-color: #009866;
	color: #fff;
}
.newsletter .input-group input {
	width: 200px;
	height: 20px;
	padding: 5px 15px;
	border: none;
	font-size: 14px;
	border-radius: 4px 0 0 4px;
	outline: none;
}
.newsletter .input-group button {
	width: 100px;
	height: 30px;
	padding: 5px 15px;
	border: none;
	font-size: 14px;
	border-radius: 0 4px 4px 0;
}

/* text */
.title {
	max-width: 50%;
	font-family: 'semibold';
	font-size: 30px;
	text-align: center;
}
.text {
	font-family: 'regular';
	color: #000;
	padding: 10px;
	text-align: justify;
}

/* tab-content */
/* Used in CV, Blog and Research page  */
.tab button {
	outline: none;
	border: none;
	padding: 10px 20px;
	background-color: #009866;
	color: #fff;
	border-radius: 10px;
}
.tab button:hover {
	background-color: #164635;
}
.tab button.active {
	background-color: #164635;
}
.tabcontent {
	text-align: center;

	border: 1px solid #333;
	border-radius: 5px;
	display: none;
	padding: 6px 12px;
	margin-top: 60px;
	margin-bottom: 130px;
}
.button {
	margin-top: 10px;
	text-align: center;
}
.tab {
	text-align: center;
}
